/.ipynb_checkpoints/

java_feature_envy

java_blob

java_long_method

java_data_class

java_long_parameter

javascript_graphcodebert

javascript_complex_conditional

js_callback_graphcodebert

js_impropererror_codebert

js_strictequality_codebert

/java/train_data/

/javascript/train_data/

/java/MLCQCodeSmellDevelopersSurvey.csv

/java/MLCQCodeSmellDevelopersSurvey.xlsx

/java/MLCQCodeSmellSamples.csv

/java/MLCQCodeSmellSamples.xlsx

/java/MadeyskiLewowskiMLCQAppendix.pdf
